# Dependencias
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Variables de entorno locales
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
